/* Global declaration */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Root declaration */
:root{
    --white: #FFFFFF;
    --lightBrown: rgba(111, 68, 54, 0.8);
    --brown: #523728;
    --darkBrown: rgba(27, 11, 11, 0.75);
    --tipBrown: #6A4028;
    --borderBrown: #3D2619;

    --bgBrown: rgba(106, 64, 40, 0.9);
    --blackBrown: #220404;
    --black: rgba(0, 0, 0, 0.7);
    --sectionBackground: rgba(106, 64, 40, 0.94);
    --yellowWhite: #FFF8E1;
    --black1: #1D2729;
    --black2: #555555;
    --green: #53A623;
    --dollarBrown: #745545;

    --sectionWhite: #FCF9F4;
    --headBrown: #734B33;
    --hBrown: #BB6939;
    --lBrown: #704B33;
    --shadow: rgba(0, 0, 0, 0.1);

    --orange: #FF9900;
    --iconWhite: #EDFFEF;
    --footerBrown: rgba(106, 64, 40, 0.94);
    --inputWhite: #FCF9F4;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}
li{
    list-style: none;
    cursor: pointer;
}
body {
    background: var(--yellowWhite);
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.30), -50px -50px 100px 0px rgba(0, 0, 0, 0.30);
}
header {
    background: url('images/MAIN\ BGmainbg.png'),lightgray 50% / cover no-repeat;
    background-position: center;
    width: min(1440px, 100%);
    height: 706px;
}
.header--wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 70em;
}
.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
    position: fixed;
    top: 1.5em;
    width: 70em;
    z-index: 100;
}
.scrolled {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0 4px 14px -8px rgba(0, 0, 0, 0.3);
    top: 0;
    padding: 0.5em 1em;
}
.nav--name img {
    width: 165px;
    height: 165px;
}
.nav--link {
    border-radius: 10px;
    background-color: var(--lightBrown);
}
.nav--link li {
    display: inline-block;
    align-items: center;
    height: auto;
    padding: 12px 0;
}
.nav--link li > a {
    color: var(--white);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;

}
.nav--link li .nav-link-space1 {
    padding-left: 28px;
    padding-right: 57px;
}
.nav--link li .nav-link-space3 {
    padding-left: 57px;
    padding-right: 29px;
}
/* Nav Link With White Background */
.nav--link_white {
    border-radius: 10px;
    background-color: var(--white);
}
.nav--link ul .nav--link_white > a {
    color: var(--lightBrown)!important;
    padding-left: 26px;
    padding-right: 25px;
    font-weight: 600;
}
/* Nav SignUp */
.nav--bar {
    border: 2px solid var(--brown);
    border-radius: 38px;
    background-color: transparent;
    padding: 12px 22px 13px 21px;
}
.nav--bar > a {
    color: var(--brown);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
/* Hero section begins */
.hero--section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    padding-left: 126px;
}
.hero--section-info {
    flex: 4 2 500px;
}
.hero--section-image {
    flex: 2 1 200px;
}
.hero--section-info h1 {
    color: var(--brown);
    z-index: 5;
    position: absolute;
    top: 224px;
    width: 800px;
    font-family: 'Inika', sans-serif;
    font-size: 69px;
    font-weight: 400;
    line-height: 120%;
}
.hero--section-info p {
    color: var(--darkBrown);
    position: relative;
    top: 95px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}
.HSI--btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 130px;
}
.HSI--btn .one {
    padding: 19px 30px;
    border-radius: 100px;
    border: none;
    background: var(--tipBrown);
    border: 1px solid var(--tipBrown);
    margin-right: 12px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
}
.HSI--btn button > a {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 120%;
}
.HSI--btn button.two > a {
    color: var(--brown);
}
.HSI--btn .two {
    padding: 18px 18px 19px 23px;
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--borderBrown);
    background: transparent;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
}
.HSI--btn .two::before {
    content: url(images/Vectorplay_btn.svg);
    padding-right: 5px;
    position: inherit;
}
/* Main : First section */
#section--one {
    margin: 0 auto;
    max-width: 62em;
}
section .section--one {
    display: flex;
    flex-flow: row nowrap;
    gap: 46px;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-bottom: 131px
}
.section--one-img img {
    width: 558px;
    height: 587px;
}
.section--one-info {
    align-self: flex-end;
}
.section--one-info h1 {
    font-family: 'Inika', sans-serif;
    color: var(--blackBrown);
    font-size: 60px;
    white-space: nowrap;
    font-weight: 400;
    line-height: 78px;   
}
.section--one-info > p {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--darkBrown);
    font-weight: 400;
    line-height: 36px;
}
.section--one-info .SOI--body p {
    font-family: 'Inter', sans-serif;
    padding-top: 25px;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
}
.section--one-info button {
    background: var(--tipBrown);
    color: var(--white);
    padding: 19px 42px 18px 41px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 0px 0px 0px #0000001A, 0px 5px 11px 0px #0000001A, 0px 20px 20px 0px #00000017, 0px 45px 27px 0px #0000000D, 0px 81px 32px 0px #00000003, 0px 126px 35px 0px #00000000;
}
/* Main Section Two */
#section--two {
    background: var(--bgBrown);
    padding-top: 69px;
    padding-bottom: 53px;
}
section .section--two {
    margin: 0 auto;
    max-width: 68em; 
}
.section--two > h1 {
    text-align: center;
    align-items: center;
    font-family: 'Inika', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
    color: var(--yellowWhite);
    margin-bottom: 34px;
}
.section--two-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 68px;
}
.section--two-content {
    background: var(--yellowWhite);
    border-radius: 41px;
    width: 355px;
    height: 351px;
    padding: 33px 0 40px 0;
}
.section--two-img {
    padding-left: 96px;
    padding-right: 96px;
    align-items: center;
}
.section--two-content .section--two-img img {
    width: 163px;
    height: 158px;
}
.section--two-content .div {
    padding-right: 35px;
    padding-left: 18px;    
}
.section--two-content .div h2 {
    font-family: 'Inika', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    color: var(--black1);
}
.section--two-content .div p {    
    font-family: 'Recursive', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--black2);
    margin-bottom: 22px;
}
.span--container {
    display: flex;
    flex-flow: row nowrap;
    gap: 142px;
    align-items: center;
    justify-content: center;
}
.span--container .amount--class {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    display: inline-flex;
    align-items: center;
    color: var(--dollarBrown);
}
.span--container .dollar--span {
    font-size: 18px;
    color: var(--green);
    line-height: 22px;
    position: inherit;
}
.span--container .SC--img {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}
.span--container span img {
    width: 16px;
    height: 15px;
    padding: 0.12px, 0px, 0.36px, 0.01px;
}
.section--two-para {
    margin-top: 55px;
    text-align: right;
    cursor: pointer;
}
.para--space {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: var(--yellowWhite);
    padding-right: 27px;
}
.section--two-para:hover .para--space {
    opacity: 0.8;
    padding-right: 0.5em;
}
/* Main Section Three */
#section--three {
    background: var(--sectionWhite);
    padding-top: 68px;
    padding-bottom: 135px;
}
section .section--three {
    margin: 0 auto;
    max-width: 72em; 
}
.section--three > h1 {
    font-family: 'Inika', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
    text-align: center;
    align-items: center;
    color: var(--headBrown);
}
.section--three > p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--headBrown);
}
.section--three-container {
    margin-top: 76px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 81px;
}
.section--three-content {
    color: var(--yellowWhite);
    box-shadow: -2px -9px 42px 0px rgba(77, 66, 44, 0.38);
    border-radius: 19px;
    padding: 34px 43px 20px 43px;
}
.section--three-content > img {
    width: 250px;
    height: 250px;
    border-radius: 16px;
    margin-bottom: 24px;
}
.section--three-content div p {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: var(--hBrown);
}
.section--three-content div h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: var(--headBrown);
    margin: 0.5em 0 12px 5px;
}
.section--three-content div .STC--INFO {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: var(--lBrown);
    padding-bottom: 1em;
}
.section--three-content div .STC--read {
    display: inline-flex;
    align-items: center;
    color: var(--headBrown);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 23px;
}
#footer {
    background: var(--footerBrown);
    padding-top: 64px;
    padding-bottom: 34px;
}
footer .footer--wrapper {
    margin: 0 auto;
    max-width: 64em; 
    display: flex;
    flex-direction: row;
    gap: 229px;
    align-items: center;
}
.F--section--one div > h1 {
    font-family: 'Inika', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
    color: var(--yellowWhite);
}
.F--section--one div > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 31px;
    color: var(--yellowWhite);
    margin-top: 12px;
}
.F--section--one > img {
    width: 356px;
    height: 348px;
    margin-bottom: 45px;
}
.footer--icon {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 24px;
    align-items: center;
    margin-bottom: 14px;
}
.footer--icon-link {
    border-radius: 50%;
    border: 2.5px solid #FFFFFF
}
.one {
    padding: 8px 17px;
    background: var(--orange);
}
.two {
    padding: 12px 14px;
    background: var(--iconWhite);
}
.footer--contact-info p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: var(--yellowWhite);
}
.F--section--two input {
    width: 413px;
    height: 61px;
    border: none;
    border-radius: 60px;
    background: var(--sectionWhite);
    padding: 20px 0 20px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26);  
    margin-top: 25px;
}
.F--section--two input:hover,
.F--section--two input:active,
.F--section--two input:focus {
    font-size: 20px;
    color: var(--hBrown);
}
.F--section--two input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #757575;
}
#text--area {
    width: 417px;
    height: 161px;
    border-radius: 26px;
    padding-top: 23px;
    padding-left: 24px;
}
#section--two-btn {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    padding: 20px 0;
    background: var(--orange);
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #000000;
}